.content {
  display: flex;
  justify-content: center;
  width: 100%
};

.scroll-table {
  position: relative;
  height: 175px;
  overflow: auto;
};

 .button-tab {
  justify-content: center;
  align-items: center;
 };

 .row-1 {
  width: 100%;
 }
